html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: black;
  background-image: url(/public/images/robert-murray-toCqTyxsT4Q-unsplash.jpg);
  background-size: cover;  /* Ajusta el tamaño de la imagen de fondo */
  background-position: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  background-image: url(/public/images/mesut-kaya-eOcyhe5-9sQ-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 16px;
}

.title {
  text-align: center;
  margin-top: 20px;
}

.tricount-list {
  margin: 20px;
  flex-grow: 1;
  width: 93%;
}

.tricount-item {
  display: flex;
  align-items: center;
  background-color: #333;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.tricount-item .icon {
  font-size: 24px;
  margin-right: 10px;
}

.tricount-item .label {
  font-size: 18px;
  flex-grow: 1; /* Ocupa el espacio restante */
}

.delete-trip {
  background-color: rgb(77, 187, 187);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: auto;  /* Alinea el botón a la derecha */
  width: 30%;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.add-tricount {
  background-color: blue;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 50px;
  font-size: 16px;
  margin-bottom: 20px;
  width: 80%;
}

.footer-buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.footer-buttons button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  padding: 10px;
}

.footer-buttons button:focus {
  outline: none;
}
